# Build artifacts
build/
*.o
*.a
*.so
*.dll
*.exe
*.out

# Editor-specific files
.vscode/
*.swp
*.swo

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cbp

# Cache files
.cache/
.cache/clang/
.cache/clang++/
.cache/clang++/

